* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FAFAFA;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

}

/*Configuração inicial*/
#blocos {
    height: 93vh;
    background-color: #1E2A38;
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    z-index: 1;
}

#fluxograma {
    height: 100%;
    background-color: #FAFAFA;
    z-index: 0;
}

#consoleSection {
    height: 100%;
    background-color: #000000;
    z-index: 1;
    align-items: center;
    justify-items: center;
    padding-top: 10px;
}


.BlocoInstanciar {
    width: 220px;
    height: 110px;
}

#DecisaoInit {
    width: 220px;
    height: 130px;
}

.ImgBlc {
    width: 220px;
    height: 110px;
}

#BlcDecisao {
    width: 220px;
    height: 130px;
}

#BlcTerminal {
    width: 180px;
    height: 60px;
}

/*Blocos instanciandos*/
.BlocoInst {
    position: absolute;
}

.Conector {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 41%;
}

.Conector.Cima {
    top: 0;
}

.Conector.Baixo {
    top: 80px;
}

/*Janela de texto*/
#janelaTexto {
    width: 33vw;
    height: 33vw;
    background-color: antiquewhite;
    position: absolute;
    left: 33vw;
    top: 50px;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 50px;
}

#textoJanela {
    position: static;
    color: #000000;
}

#campoTexto {
    position: static;
}

#btnSalvar {
    width: 150px;
    height: 30px;
    border: #000000;
    border-radius: 15px;
    position: static;
    background-color: #000000;
}

#btnCancelar {
    width: 150px;
    height: 30px;
    border: #000000;
    border-radius: 15px;
    position: static;
    background-color: red;
}

#divBnt {
    display: flex;
    gap: 20px;
    justify-content: center;
}